<h3>login</h3><br />
<%= form_for (:session, :url => sessions_path) do | f | %>
  <div id ="start">
    <table>
      <tr>
      	<td><%= f.label :email %></td>
	    	<td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :password, "Kennwort" %></td>
	      <td><%= f.password_field :password %></td>
	    </tr>
  	</table>
	</div>
  <div class="actions">
  	<%= f.submit "senden" %>
	</div>
<% end %>