<div id="adresse">
<%= form_for(@address) do |f| %>
  	<% if @address.errors.any? %>
      <div id="error_explanation">
      <p>Speicherung der Adresse wurde verhindert: <%= pluralize(@address.errors.count, "Fehler") %> </p>
      <ul>
         <% @address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
		<% end %>
    <p>update am <%= german_time(@address.updated_at) %> durch <%= @address.user %></p>
    <div class="left">
    <%= f.label :firma %>
	  <%= f.text_field :firma %><br />
	  <%= f.label :nachname, "Name" %>
	  <%= f.text_field :nachname %><br />
	  <%= f.label :vorname %>
	  <%= f.text_field :vorname %><br />
	  <%= f.label :position %>
	  <%= f.text_field :position %><br />
	  <%= f.label :strasse %>
	  <%= f.text_field :strasse %><br />
	  <%= f.label :hausnr, "Haus-Nr." %>
    <div class="small">
    	<%= f.text_field :hausnr %>
    </div>
	  <%= f.label :plz %>
    <div class="small">
	  	<%= f.text_field :plz %>
    </div>
    <%= f.label :ort %>
	  <%= f.text_field :ort %><br />
	  <%= f.label :land, "Land" %>
	  <%= f.select :land,
	  			Country.find(:all, :order => :de).collect{|d| [d.de]},
	  			:prompt => "Bitte waehlen" %><br />

  </div>
  	<div class="right">
  	<%= f.label :category, "Kategorie" %>
	  <%= f.select :category,
	  			Category.find(:all, :order => :name).collect{|d| [d.name]},
	  			:prompt => "Bitte waehlen" %><br />
  	<%= f.label :subcategory, "Sub-Kat." %>
	  <%= f.select :subcategory,
	  			Subcategory.find(:all, :order => :name).collect{|d| [d.name]},
	  			:prompt => "Bitte waehlen" %><br />
  	<%= f.label :fon, 'Telefon' %>
  	<%= f.text_field :fon %><br />
  	<%= f.label :fax %>
  	<%= f.text_field :fax %><br />
  	<%= f.label :email %>
  	<%= f.text_field :email %><br />
  	<%= f.label :web %>
  	<%= f.text_field :web %><br />
 		<%= f.label :briefkontakt, "Brief" %>
    <%= f.select :briefkontakt,
	  			Lettercontact.find(:all, :order => :description).collect{|d| [d.description]},
	  			:prompt => "Bitte waehlen" %><br />
	</div>
	<div class="go">
  		<%= f.submit "speichern" %>
	</div>
<% end %>
</div>