<header>
  <% if signed_in? %>
  	<%= link_to logo, welcome_path, :title => "zur Uebersicht" %>
  <% else %>
		<%= link_to logo, root_path, :title => "Home" %>
  <% end %>
  <nav class ="round">
  	<ul>
    <% if signed_in? %>
      <li><%= link_to "Uebersicht", welcome_path %></li>
      <li><%= link_to "Logout", logout_path, :action => 'destroy' %></li>
    <% else %>
       <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <% end %>
    </ul>
  </nav>
</header>